# Local
.DS_Store
*.local
*.log*

# Environment variables
.env
.env.local
.env.production
.env.tjrftop
.env.*.local

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.codebuddy

# Sensitive files
dexie-cloud.json
dexie-cloud.key
*.key
*.pem
