@import 'tailwindcss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 确保表格分页器始终在底部 */
.ant-table-wrapper {
  height: 100%;
  overflow: hidden;
}

.ant-spin-nested-loading {
  height: 100%;
  overflow: hidden;
}

.ant-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.ant-table {
  flex: 1;
  overflow-y: auto;
}

.ant-table-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ant-table-body {
  flex: 1;
  overflow-y: auto !important;
}

.ant-table-tbody {
  width: 100%;
  height: 100%;
}
